@import './scss/abstracts/fonts.scss';
@import './scss/abstracts/icons.scss';
@import './scss/abstracts/variables.scss';

html {
    font-family: 'IBMPlexSans', sans-serif;
}

body {
    background-color:gray;
}

.Button {
    margin-bottom: 1rem;
}

/* Start class von detail */ 

.Detail {
    display: flex;
    flex-direction: column;
}

.Image {
    width: 30rem;
}

.BackButton {
    width: 5rem;
    background-color: darkcyan;
  
}


/* Ende class von detail */ 


/* Start class von overall*/ 

.Overall {
    display: flex;
    flex-wrap: wrap;
}

.Overall-preview {
    margin: 0.15rem;
    padding: 0.10rem;
    background-color:darkcyan;
}

h1 {
    color:orange ;
    text-align: center;

}

/* Start class von overall*/ 